<div class="login-box">
  <div class="login-logo">
    Control de <b>Gestión</b>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">¿No recibiste el correo de confirmación? Escribe tu correo y el correo se mandara nuevamente.</p>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group has-feedback">
          <%= f.email_field :email, autofocus: true,
                            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                            class: 'form-control', placeholder: 'Correo electronico' %>
          <span class="fa fa-envelope-o form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-offset-6 col-xs-6">
            <%= f.button 'Solicitar contraseña', class: 'btn btn-default btn-block btn-flat' %>
          </div><!-- /.col -->
        </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
