<div class="col-md-8 col-md-offset-2">
  <section class="content-header">
    <h1>Editar solicitud</h1>
  </section>
  <section class="content">
    <%= render 'form', request: @request %>
  </section>
</div>
