//Marin color palette
$principal-yellow: #f2be35;
$border-yellow: #f2ab0a;
$hover-yellow: #ba8308;
$menu-black: #242424;
$hover-black: #111;
$background-grey: #ddd;

//Errors
$error-input: rgba(255, 0, 0, 0.25);
$error-label: rgba(255, 59, 59, 0.75);
